In [1]:
import pandas as pd

shops = pd.read_excel('ООО_Внимание_к_деталям.xlsx',
                      sheet_name='Справочник точек')

shops.head()

,id точки,Адрес,Широта,Долгота,Дата открытия,Дата закрытия,Площадь магазина,Тип входа,Площадь ТЦ,Формат магазина,...,Этаж,Время работы,Заполненность ТЦ,Рядом с эскалатором,Рядом со входом,Конкуренты в ТЦ,Расположение в ТЦ,Толока,Люкс,Выборка
0,8955.0,"Оренбургская обл, Оренбург г, Шарлыкское ш, д...",55.118272,51.843127,2016-11-09 00:00:00,NaT,478,без сквозного прохода,130000.0,ТЦ,...,3,с 10:00 до 22:00,NaN,0,0,1.0,7.0,37.857582,69.500000,Обучающая
1,11007.0,"Алтайский край, г. Барнаул, ул. Малахова, дом ...",83.696799,53.356954,2010-04-26 00:00:00,NaT,332,сквозной проход,31500.0,ТЦ,...,1,с 10:00 до 22:00,NaN,0,1,NaN,9.0,57.810494,66.896552,Обучающая
2,11366.0,"Амурская область, Благовещенск, улица Мухина, 114",127.510357,50.280435,2017-08-25 00:00:00,NaT,356,без сквозного прохода,36000.0,ТЦ,...,1,с 10:00 до 22:00,3.0,0,1,1.0,6.0,49.959831,68.727273,Обучающая
3,11810.0,"Архангельская обл, г. Архангельск , Троицкий п...",40.528249,64.532316,2012-11-03 00:00:00,NaT,317,отдельный вход с улицы + сквозной проход,35000.0,ТЦ,...,1,с 10:00 до 21:00,3.0,0,1,0.0,10.0,128.459158,64.517241,Обучающая
4,15041.0,"Архангельская обл, г. Архангельск, Троицкий пр...",40.526317,64.534327,2006-12-09 00:00:00,NaT,176,сквозной проход,15332.0,ТЦ,...,цоколь,с 10:00 до 21:00,3.0,1,0,NaN,0.0,103.199885,78.275862,Тестовая

In [3]:
shops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id точки             245 non-null    float64
 1   Адрес                246 non-null    object
 2   Широта               242 non-null    float64
 3   Долгота              242 non-null    float64
 4   Дата открытия        245 non-null    object
 5   Дата закрытия        9 non-null      datetime64[ns]
 6   Площадь магазина     246 non-null    int64
 7   Тип входа            244 non-null    object
 8   Площадь ТЦ           204 non-null    float64
 9   Формат магазина      246 non-null    object
 10  Парковка             226 non-null    object
 11  Этаж                 241 non-null    object
 12  Время работы         232 non-null    object
 13  Заполненность ТЦ     182 non-null    float64
 14  Рядом с эскалатором  246 non-null    int64
 15  Рядом со входом      246 non-null    int64
 16  Конкуренты в ТЦ      94 non-null     float64
 17  Расположение в ТЦ    224 non-null    float64
 18  Толока               246 non-null    float64
 19  Люкс                 246 non-null    float64
 20  Выборка              245 non-null    object
dtypes: datetime64[ns](1), float64(9), int64(3), object(8)
memory usage: 40.5+ KB

In [2]:
earnings = pd.read_excel('ООО_Внимание_к_деталям.xlsx',
                         sheet_name='Выручка по обучающей выборке')

earnings.head()

,id точки,2015-01-01,2015-02-01,2015-03-01,2015-04-01,2015-05-01,2015-06-01,2015-07-01,2015-08-01,2015-09-01,...,2018-01-01,2018-02-01,2018-04-01,2018-05-01,2018-06-01,2018-07-01,2018-08-01,2018-09-01,2018-10-01,2018-11-01
0,11366.0,245709.342667,301024.685000,406199.782258,295602.853000,268179.172258,266579.009667,202667.039355,207347.022581,237393.216667,...,271084.023513,298845.267500,277776.347333,270902.919677,280106.099000,243448.836129,236709.816452,248268.778333,296637.103226,314456.870000
1,11810.0,270245.842066,297964.820199,406198.175918,232433.263996,229317.708387,251403.308057,242000.555806,260407.109247,267051.162996,...,245402.383180,273515.012143,240088.292000,196260.466452,228920.589000,204058.825161,207104.013135,203499.409840,206013.017419,218636.436000
2,15041.0,171972.976000,198141.440000,260215.741935,205316.010644,187059.870968,198590.970667,178250.637781,187094.699355,211000.005517,...,174154.623627,173190.240000,240396.837333,241494.616774,264873.765333,227461.233548,249503.230968,251805.680000,263152.960000,269913.018667
3,15775.0,409032.989736,468816.460949,582717.510920,442807.529886,371689.316054,428430.990000,365894.971255,384266.496739,385515.509997,...,431909.251500,493571.089286,408575.490000,387081.406452,418398.840000,362395.248387,393423.329032,387866.910000,421387.374194,481330.143000
4,16102.0,437693.191667,510077.198214,602107.617742,465779.798333,423448.914516,414476.575000,370944.770968,392089.754839,416797.330000,...,378429.858867,453511.489286,388849.670000,369223.219355,392389.013333,328593.246774,350885.291935,369367.358333,427575.006452,472508.001667